@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* HEADER */
#showcase {
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__340.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase {
    font-size: 40px;
}

#showcase p {
    font-size: 20px;
    width: 70%;
}

#showcase .button {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button hover {
    background: #8A0E8F;
}

/* SECTIONS */
#section-a {
    padding: 20px;
    background: #85512d;
    color: #fff;
    text-align: center;
}

#section-b {
    padding: 20px;
    background: #0540ad;
    color: #fff;
    text-align: center;
}

#section-c {
    display: flex;
    color: #fff;
}

#section-c div {
    padding: 20px;
    text-align: center;
}

#section-c .box-1 {
    background: #ee6230;
}

#section-c .box-2 {
    background: #6b1294;
}

#section-c .box-3 {
    background: #745d79;
}